[Unit]
Description=Reticulum Network Stack Daemon
After=mesh-start.service network-online.target
Wants=mesh-start.service network-online.target

[Service]
Type=simple
User=natak
Group=natak
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/rnsd
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/rnsd.log
StandardError=append:/var/log/rnsd.log

[Install]
WantedBy=multi-user.target
